$laptop-width: 1440px;
$tablet-width: 980px;
$mobile-width: 576px;

$light-brown: #2e2a23;
$brown: #27241e;
$dark-brown: #201d18;

$green: #008000;
$yellow: #ff0;

$unselected: #4e4c48;
$selected: #a9a8a6;
$title: #777;

$blinking: #d7eaf1;
