.pop {
  animation: pop .25s;
}

.flyUp {
  animation: flyUp .2s 1;
  transform: translateY(-600px);
}

.shake {
  animation: shake .1s 5;
}

.strobe {
  transform-origin: bottom;
  animation: strobeStart .5s ease-out, strobe 1s infinite;
  animation-delay: 0s, .5s;
}
